*{
    margin: 0;
    padding: 0;
    list-style: none;
}
    body{
        background-color: #829d70;
    }
    div.menudiv{
        position:relative;
    } 
    li.txt{
        font-size: 16px;
        color: white ;
        display: inline;
        position: relative;
        padding: 18px 12px;
    }
    li.menu{
        font-size: 16px;
        color: white;
    }
    li.txt a{
        color: inherit; /* 移除超連結顏色 */
        text-decoration: none;  /* 移除超連結底線 */
    }
    li.menu a{
        color: inherit; /* 移除超連結顏色 */
        text-decoration: none;  /* 移除超連結底線 */
    }
    li.txt a:link{
        color:white;
    }
    ul.txt {
        background-color:#1d3e13;
        text-align:right ;
        margin: 0%;
        padding: 0%;
        list-style: none;
        position: fixed;
        left: 0%;
        top:0%;
        width: 100%;
        font-size: 16px;
        z-index: 1000;

    }
    .menu {
        padding: 16px;
        font-size: 16px;
        cursor: pointer; /* 滑鼠游標的形狀*/
        position: relative;
        display: inline-block;
    }
    .menu-content {
        text-align: center;
        border-radius: 5px; /*圓角*/
        display: none;
        position: absolute;
        background-color: white;
        min-width: 70px;
        z-index: 1000;
        font-size: 15px;
    }
    div.menu-content a {
        border-radius: 5px; 
        color: black;
        padding: 10px 12px;
        display: block; /*游標下顏色*/
    }
    .menu-content a:hover {background-color: #dead85}
    .menu:hover .menu-content {display: block;}
    li.txt:hover{
        text-decoration: underline;
    }
    li.menu:hover{
        text-decoration: underline;
    }
    .title{
        position: fixed;
        z-index: 2000;
        top: 2%;
        left: 0%;
        color: white;
        font-size: 20px;
        cursor:default;
    }

    
    img:hover , .counter-statementimg:focus img {
        transform: scale(1.4);
        -ms-transform: scale(1.4);
        -webkit-transform: scale(1.4);
    }
    div.all{
        position:relative;
        z-index: 0;
    }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    img{
        height: 200px;
        width: 100%;
    }
    .toTop-arrow {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 33%;
        opacity: 0.6;
        background: #000;
        cursor: pointer;
        position:fixed;
        right: 1rem;
        bottom: 1rem;
        display: none;
    }
    .toTop-arrow::before, .toTop-arrow::after {
        width: 18px;
        height: 5px;
        border-radius: 3px;
        background: rgb(0, 87, 248);
        position: absolute;
        content: "";
    }
    .toTop-arrow::before {
        transform: rotate(-45deg) translate(0, -50%);
        left: 0.5rem;
    }
    .toTop-arrow::after {
        transform: rotate(45deg) translate(0, -50%);
        right: 0.5rem;
    }
    .toTop-arrow:focus {outline: none;}

    h2{
        text-align: center;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .root{
        background-color:  #e9e9e9;
        width: 900px;
        display: flex;
        justify-content: space-around;
    }
    
    .root-img{
        max-width: 300px;
        max-height: 505px;
        overflow: hidden;
        margin: 20px;
        transition: transform 1s ease;
        margin-left: 80px;
    }
    
    .root-img>img{
        width: 100%;
    }
    .container1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .root-text{
        background-color:  #e9e9e9;
  
    }
    .root1-text{
        background-color:  #e9e9e9;
  
    }
    .root1{
        background-color:  #e9e9e9;
        width: 900px;
        display: flex;
        justify-content: space-around;
    
    }
    
    .root1-img{
        max-width: 300px;
        max-height: 505px;
        overflow: hidden;
        margin: 20px;

    }
    
    .root1-img>img{
        width: 100%;
    }

    .aim{
        background-color:  #e9e9e9;
        width: 900px;
        display: flex;
        justify-content: center;
    }
    .aim-container{
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .aim-text{
        margin: 0px 15px 0px 15px;
    }
    div.footerdiv{
        color: rgb(250, 223, 149);
        padding: 33px;
        z-index: 20;
        background-color: #1d3e13 ;
    }
    p.footer1{
        font-size: 13px;
        text-align: center;
    }